<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>My Super Cool Website!</title>
	<meta name="description" content="The description of the website">
	<link rel="stylesheet" href="style.css"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<header>
	<p>✨My Super Cool Website!✨</p>
</header>

<main>

{{content}}

</main>

<footer>
	<p>&copy; Copyright 2050 by nobody. All rights reversed.</p>
</footer>
</body>
</html>
