<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Will Shick Portfolio</title>
	<meta name="description" content="The description of the website">
	<link rel="stylesheet" href="style.css"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<header>
	<p>Will Shick Portfolio</p>
</header>

<main>

{{content}}

</main>

<footer>
	<p>&copy; Copyright 2024 Will Shick. All rights reserved.</p>
</footer>
</body>
</html>
